@font-face {
    font-family: 'LightItalic';
    src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(./fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url(./fonts/Roboto-MediumItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}
* {
    font-family: 'Roboto-Regular', sans-serif;
}
.container {
    display: flex;
    flex-direction:column;
}
header {
    padding: 15px 0px 100px 0px;
}
#container1 {
    background-color: #1F2937;
    padding: 0px 150px 150px 150px;
    display: flex;
    flex-direction: column;
}
div.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.links {
    font-size: 18px ;
    color: #E5E7EB;
    padding: 30px;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 400px;
    text-decoration: none;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color:#F9FAF8;
}
p {
    color: lightgray;
}
button {
    background-color: #3882F6;
    color:white;
    border-radius: 5px;
    border:#3882F6;
    padding: 5px 20px 5px 20px;
}
#container2 {
    display: flex;
    flex-direction:column;
    padding-bottom: 70px;
}
div.images {
    display: flex;
    justify-content: center;
    gap: 25px;
}
h2 {
    font-size:36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align:center;
}
#art {
    border-radius: 5px;
    border: solid #3882F6;
}
#name {
    color:#1F2937;
    text-align: center;
}
#container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #E5E7EB;
    padding: 90px 250px 90px 250px;
}
#testimony {
    color:#1F2937;
    font-size:36px;
    font-family: 'LightItalic', sans-serif;
}
#author {
    color:#1F2937;
    font-family: 'Roboto-Black', sans-serif;
    text-align: right;
}
#container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 160px 70px 160px;
} 
div.contact {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
    background-color: #3882F6;
    border-radius: 10px;
}
h3 {
    font-family: 'Roboto-Bold', sans-serif;
    color: white;
}
.callp {
    color:lightgray;
}
div.button {
    display:flex;
    align-items: center;
}
#signup {
    border: 1px solid white;
}
footer {
    text-align:center;
    font-family: 'Roboto-MediumItalic', sans-serif;
    background-color: #1F2937;
    color: lightgray;
    padding: 20px 0 20px 0;
}